<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">

<persistence-unit name="ProgettoJPA" transaction-type="RESOURCE_LOCAL">
 <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
 <class>com.esis.italia.course.example.jpa.Azienda</class>
 <class>com.esis.italia.course.example.jpa.Dipartimento</class>
 <class>com.esis.italia.course.example.jpa.Impiegati</class>
 <class>com.esis.italia.course.example.jpa.Impiegato</class>
 <class>com.esis.italia.course.example.jpa.ImpiegatoPK</class>
  <properties>
   <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
   <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://corsi-1.esis-italia.com:5432/DB_secondo"/>
   <property name="javax.persistence.jdbc.user" value="corso1_dba"/>
   <property name="javax.persistence.jdbc.password" value="Trasporto23*"/>
  </properties>
 </persistence-unit>
</persistence>
